<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto +</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bloque">
  <br>
  <ion-button color="warning" size="small" fill="outline" (click)="back()">Back</ion-button>
  <br>
  <div>
  <!-- Nombre del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" aria-placeholder="Nombre del producto" [(ngModel)]="newProduct.nombre" clearInput required
    ></ion-input>
  </ion-item>

  <!-- Precio unitario del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Precio: </ion-label>
    <ion-input type="number" aria-placeholder="Precio unitario" [(ngModel)]="newProduct.precio" clearInput required></ion-input>
  </ion-item>

  <!-- Cantidad de producto ingresado -->
  <br>
  <ion-item>
    <ion-label position="floating">Cantidad: </ion-label>
    <ion-input type="number" aria-placeholder="Cantidad" [(ngModel)]="newProduct.cantidad" clearInput required></ion-input>
  </ion-item>

  <!-- Categoria -->
  <br>
  <ion-item>
    <ion-label position="floating">Categoría:</ion-label>
    <ion-select [compareWith]="compareWith" [(ngModel)]="newProduct.categoria" clearInput required>
      <ion-select-option *ngFor="let cate of categorias" [value]="cate.Id_Categoria">{{cate.Nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Imagen del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Imagen: </ion-label>
    <ion-input type="text" aria-placeholder="Imagen" [(ngModel)]="newProduct.imagen" clearInput required></ion-input>
  </ion-item>

  <!-- Descripcion del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Descripcion:</ion-label>
    <ion-input type="text" aria-placeholder="Descripcion del producto" [(ngModel)]="newProduct.descripcion" clearInput required
    ></ion-input>
  </ion-item>
  <br>
  <ion-label position="floating">LLENE UNICAMENTE PARA ARTICULOS A SUBASTAR</ion-label>
    
  <ion-item>
    <ion-label position="floating">Fecha de inicio de la subasta:</ion-label>
    <ion-datetime [(ngModel)]="fecha1" display-timezone="utc"></ion-datetime>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Fecha de fin de la subasta:</ion-label>
    <ion-datetime [(ngModel)]="fecha2" display-timezone="utc"></ion-datetime>
  </ion-item>
  <br>
  <ion-label position="floating">UNICAMENTA PARA REGISTRAR PRODUCTOS EN TIENDAS EXTERNAS</ion-label>
  <ion-item>
    <ion-label>Es proveedor</ion-label>
    <ion-toggle [(ngModel)]="show" (ionChange)="esProveedor = !esProveedor"></ion-toggle>
  </ion-item>


  <!-- Nombre del producto -->
  <br>
  <ion-button size="small" fill="outline" (click)="addProducto()">Agregar Producto</ion-button>
  <ion-button size="small" fill="outline" (click)="addSubasta()">Subastar</ion-button>

</div>
</ion-content>