<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto +</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bloque">
  <br>
  <ion-button color="warning" size="small" fill="outline" (click)="back()">Back</ion-button>
  <br>
  <!-- Nombre del producto -->
<div>
  <br>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" aria-placeholder="Nombre del producto" [(ngModel)]="newProduct.nombre" clearInput required
    ></ion-input>
  </ion-item>

  <!-- Precio unitario del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Precio: </ion-label>
    <ion-input type="number" aria-placeholder="Precio unitario" [(ngModel)]="newProduct.precio" clearInput required></ion-input>
  </ion-item>

  <!-- Cantidad de producto ingresado -->
  <br>
  <ion-item>
    <ion-label position="floating">Cantidad: </ion-label>
    <ion-input type="number" aria-placeholder="Cantidad" [(ngModel)]="newProduct.cantidad" clearInput required></ion-input>
  </ion-item>

  <!-- Categoria -->
  <br>
  <ion-item>
    <ion-label position="floating">Categoría:</ion-label>
    <ion-select [compareWith]="compareWith" [(ngModel)]="newProduct.categoria" clearInput required>
      <ion-select-option *ngFor="let cate of categorias" [value]="cate.categoria">{{cate.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Imagen del producto -->
  <br>
  <ion-item>
    <ion-label position="floating">Imagen: </ion-label>
    <ion-input type="text" aria-placeholder="Imagen" [(ngModel)]="newProduct.imagen" clearInput required></ion-input>
  </ion-item>

  <!-- Nombre del producto -->
  <br>
  <ion-button expand="block" (click)="addProducto()">Agregar Producto</ion-button>

</div>
</ion-content>