<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto +</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <!-- Nombre del producto -->
  <ion-item>
    <ion-label>Nombre del producto: </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- Precio unitario del producto -->
  <br>
  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>

  <!-- Cantidad de producto ingresado -->
  <br>
  <ion-item>
    <ion-label>Cantidad: </ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>

  <!-- Categoria -->
  <br>
  <ion-item>
    <ion-label>Categoria: </ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>