<ion-header>
  <ion-toolbar>
    <ion-title>
      Hola, {{user.first_name}}!
    </ion-title>
    <ion-list slot="end">
      <ion-item>
        <ion-label>Carrito de compras</ion-label><ion-badge slot="end">{{contador}}</ion-badge>
        <ion-select  (ionChange)="deleteOnCart($event)" okText="Eliminar" multiple="true" cancelText="Cancelar">
          <ion-select-option *ngFor="let producto of carrito" [value]="producto.codigo">Cantidad: {{producto.cantidad}} {{producto.nombre}}</ion-select-option>            
        </ion-select>
      </ion-item>      
    </ion-list> 
    <ion-button slot="end" color="primary" (click)="goToPayment()">Confirmar Compra</ion-button> 
    <ion-button slot="end" color="primary" (click)="goToHome()">Home</ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header [translucent]="true">         
  </ion-header>   
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-item>
          
          <ion-button slot="end" color="primary" (click)="doPayment()">Realizar Pago Total</ion-button> 
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row size-xs="12" size-sm="6" size-md="6" size-xl="3" style="border-bottom: groove;">
      <ion-col >
        <div>
          Cantidad
        </div>
      </ion-col>
      <ion-col>
        <div>
          Descripción producto
        </div>
      </ion-col>
      <ion-col>
        <div>
          Precio Unitario
        </div>
      </ion-col>
      <ion-col>
        <div>
          Total
        </div>
      </ion-col>    
      <ion-col>
        <div>
          Acción
        </div>
      </ion-col>         
    </ion-row>    
    <ion-row *ngFor="let item of carrito" size-xs="12" size-sm="6" size-md="6" size-xl="3" style="border-bottom: groove;">
      <ion-col>
        <div>
          {{item.cantidad}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{item.nombre}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          Q. {{item.precio}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          Q. {{item.precio*item.cantidad}}
        </div>
      </ion-col>   
      <ion-col>
        <div>          
          <ion-button slot="end" color="danger"  [value]="item.codigo" (click)="deleteOnCartBeforePayment(item.codigo)" >Eliminar</ion-button> 
        </div>
      </ion-col>          
    </ion-row>
    <ion-row size-xs="12" size-sm="6" size-md="6" size-xl="3">
      <ion-col>
        <div>
          
        </div>
      </ion-col>
      <ion-col>
        <div>
          
        </div>
      </ion-col>
      <ion-col>
        <div>
          Total
        </div>
      </ion-col>
      <ion-col>
        <div>
          Q. {{total}}
        </div>
      </ion-col>   
      <ion-col>
        <div>
          <ion-button slot="end" color="primary" (click)="goToPayment()">Proceder a pagar</ion-button>                     
        </div>
      </ion-col>               
    </ion-row>      
  </ion-grid>
</ion-content>