<ion-header>
  <ion-toolbar>
    <ion-title>Encuentra tu producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
 
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select value="cat" okText="Confirmar" multiple="true" cancelText="Cancelar">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
  


</ion-content>
